@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "SansationB";
    src: url("../public/fonts/sansation/Sansation_Bold.ttf");
  }
  @font-face {
    font-family: "SansationR";
    src: url("../public/fonts/sansation/Sansation_Regular.ttf");
  }
  @font-face {
    font-family: "PtSerifR";
    src: url("../public/fonts/ptSerif/PTSerifProRg.OTF");
  }
  @font-face {
    font-family: "PtSerifCapR";
    src: url("../public/fonts/ptSerif/PTSerifProCaptRg.OTF");
  }
  @font-face {
    font-family: "PtSerifBK";
    src: url("../public/fonts/ptSerif/PTSerifProBk.OTF");
  }
  .bgBlue {
    background: linear-gradient(
      105.73deg,
      #000729 50.54%,
      #021856 77.65%,
      #00082f 106.01%
    );
  }
}

@layer utilities {
  .navGetStartedBtn {
    border: none;
    outline: none;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(16, 16, 16), rgb(193, 193, 193));
    cursor: pointer;
    z-index: 1;
    filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.15));
  }
  .navGetStartedBtn::before {
    content: "";
    position: absolute;
    top: 1.5px;
    right: 1px;
    bottom: 1px;
    left: 2px;
    background-color: white;
    border-radius: 30px;
    z-index: -1;
  }
  .navGetStartedBtn::after {
    content: attr(data);
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(132, 132, 132, 1)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  .orangeBtn {
    background: linear-gradient(
      95.91deg,
      rgba(227, 116, 71, 0.995464) -5.5%,
      #f56f46 52.62%,
      rgba(255, 86, 29, 0.99) 97.73%
    );
  }
  .orangeBtn:hover {
    background: linear-gradient(
      95.91deg,
      rgba(201, 103, 63, 0.995464) -5.5%,
      #e7633b 52.62%,
      rgba(236, 79, 26, 0.99) 97.73%
    );
  }
}
